* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #465c72;
}
.wrapper {
  position: relative;
  height: 100%;
  width: 375px;
  margin: 0 auto;
  background-image: url("../img/background.png");
  background-size: cover;
}
.target_score,
.now_score,
.select_score {
  width: 100%;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.now_score,
.select_score {
  font-size: 10px;
}
.star_wrapper {
  font-size: 0;
}
.select_score {
  opacity: 0;
}
